
SRMCadastroClieneDesktop/obj/Debug/*
SRMCadastroClieneDesktop/obj/Release/*
SRMCadastroClieneDesktop/bin/*
SRMCadastroClientCommon/obj/Debug/*
SRMCadastroClientCommon/obj/Release/*
SRMCadastroClientCommon/bin/*
SRMCadastroClienteBS/obj/Debug/*
SRMCadastroClientCommon/obj/Release/*
SRMCadastroClienteBS/bin/*
SRMCadastroClienteDB/obj/Debug/*
SRMCadastroClientCommon/obj/Release/*
SRMCadastroClienteDB/bin/*
SRMCadastroClienteDomain/obj/Debug/*
SRMCadastroClientCommon/obj/Release/*
SRMCadastroClienteDomain/bin/*
.vs/*
packages/*